body { 
    background-color: #08D9D6;
}
hr {background-color: #08d9d6;
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 10px;
    width: 10%;
}
h1{
    color: #c51f49;
}
h2{
    color: #c51f49;
}
h3{
    color: #c51f49;
}